{% extends "base.html" %}

{% block page_content %}
{% load django_bootstrap5 %}

<div class="p-1 bg-light text-dark">
    <h4 class="float-end pt-1 pe-3">Stoom Design</h4>
<ul class="nav justify-content-start" id="home">
    <li class="nav-item">
      <a class="nav-link text-dark" aria-current="page" href="{% url 'index' %}#section1">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="{% url 'index' %}#section2">About</a>
      </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{% url 'index' %}#section3">Submit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{% url 'index' %}#section4">Contact</a>
    </li>
  </ul>
</div>

<div class="imgbg min-vh-100 pt-5">
  <div class="mx-auto p-3 bg-light shadow rounded" style="width: 600px;">
    <div class="mx-auto" style="width: 80%;">
    <h2 class="text-center py-2">Enter the competition</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
  <div class="d-flex justify-content-center pb-3"><button class="w-50 btn btn-primary" type="submit"><p class="text-center m-0 p-1">Submit</p></button></div>
  </form>
  </div>
  </div>
</div>
{% endblock %}